body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;

}
.parent{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.card{
  border: 1px black solid;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5%;
}

.qr-card{
  width: 15.1rem;
  margin: 2rem;
  text-align: center;
}
.qr-card > img{
  width: 100%;
  border-radius: 5%;
}

.qr-card > h3{
  font-weight: 700;
  color: hsl(218, 44%, 22%);
}
.qr-card > p{
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}

.attribution{
  position: fixed;
  bottom:0;
  padding: 1rem;
  font-size: 15px;

}